<form action="/addCard/" method="post">
	<div>
		<label>car name / model</label>
		<input type="text" name="carName"/><br/>
	</div>
	<div>
		<label>year</label>
		<input type="text" name="year"/>
	</div>
	<div>
		<label>factory</label>
		<input type="text" name="factory"/>
	</div>
	<div><input type="submit" value="add card"/></div>
</form>