extends layout

block content
    mixin editListCars(carId, carName, carFactory, carYear)
        li
            span=carName + ' / ' + carFactory + ' / ' + carYear
            a(href='/editCard/'+ carId) editar
            a(href='/removeCard/'+ carId) excluir
    p
        a(href='/register-card/') nova carta
    h1= 'Lista de cartas'
    ul
        li(style='border-bottom:1px solid #e5e5e5;padding-bottom:10px') Modelo / Fabricante
        each car in cars
            if (car.carName != '' && car.carName != undefined)
                +editListCars(car.id, car.carName, car.factory, car.year)
                



        
