extends layout

block content
    p
        a(href='/listCard/') ver cadastradas
    p(id='msgDialog' name='msgDialog')=msg
    h1= 'Cadastro de carta'
    form(id='cardRegisterForm' action='/addCard/' method='post')
        ul
            li
                label(for='carName') nome
                input(id='carName' type='text' name ='carName' placeholder='nome do carro')
            li
                label(for='factory') fabricante
                input(id='factory' type='text' name ='factory' placeholder='fabricante')
            li
                label(for='year') ano
                input(id='year' type='text' name ='year' placeholder='ano de fabricação / modelo')
            li
                button(id='register' name='register' type='button') cadastrar

    script.
        var btSubmitForm = document.getElementById('register')
        var cardRegisterForm = document.getElementById('cardRegisterForm');

        btSubmitForm.addEventListener('click', submitForm);
        
        function submitForm(){
            cardRegisterForm.submit();
        }
