extends layout

block content
    input(id="caredit" type="hidden" value=caredit)
    p
        a(href='/listCard/') ver cadastradas
        a(href='/register-card/') cadastradar nova carta
    p(id='msgDialog' name='msgDialog')=msg
    h1= 'Atualizar carta'
    form(id='cardEditForm' method='post')
        ul
            li
                label(for='carName') nome
                input(value=carName id='carName' type='text' name ='carName' placeholder='nome do carro')
            li
                label(for='factory') fabricante
                input(id='factory' type='text' name ='factory' placeholder='fabricante')
            li
                label(for='year') ano
                input(id='year' type='text' name ='year' placeholder='ano de fabricação / modelo')
            li
                button(id='update' name='update' type='button') atualizar

    script.
        var dados = JSON.parse(document.getElementById('caredit').value);
        document.getElementById('carName').value = dados[0].carName;
        document.getElementById('factory').value = dados[0].factory;
        document.getElementById('year').value = dados[0].year;
        document.getElementById('cardEditForm').setAttribute('action','/updateCard/'+dados[0]._id);

        var btSubmitForm = document.getElementById('update')
        var cardEditForm = document.getElementById('cardEditForm');

        btSubmitForm.addEventListener('click', submitForm);
        
        function submitForm(){
            cardEditForm.submit();
        }
