body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  margin-right: 25px;
}

label{
  width: 85px;
  display: inline-block;
}
ul li {
  list-style: none;
  margin-bottom:15px;
  text-transform: capitalize;
}
ul li input {
  border:1px solid #e3e3e3;
  padding:5px;
}
ul li span {
  float: left;
  min-width: 250px;
}
ul li a {
  text-transform: lowercase; 
}